nav img{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 12px;
    border: 2px solid beige;
    margin-top: -12px;
}


.labels th{

	text-align: center;
}

.requirementRow td{

	text-align: center;
	font-size: 15px;
    font-weight: 400;
}

.rowcount{

	background-color: #1D053A;
    color: #fff;
    border-radius: 20px;
}

.card {
    border-radius: 21px !important;
    box-shadow: 2px 6px 15px !important;
}