<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Bon Voyage</title>
	 	<link rel="shortcut icon" type="image/x-icon" href="{{STATIC_URL}}images/favicon.ico" />
		<link rel="stylesheet" href="..{{STATIC_URL}}css/agentVerification.css">
		<link rel="stylesheet" href="..{{STATIC_URL}}css/bootstrap-datetimepicker.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		<script src="..{{STATIC_URL}}js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/moment.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-datetimepicker.js"></script>
		<script src="..{{STATIC_URL}}js/agentVerification.js"></script>

	</head>
	<body>
		<div class="container-fluid wrapper">
			<div class="container-fluid wrapper-cover">
				<nav class="navbar navbar-default">
				  <div class="container-fluid nav-container">
				    <!-- Brand and toggle get grouped for better mobile display -->
				    <div class="navbar-header">
				      <a class="navbar-brand" href="#"><image src="{{STATIC_URL}}images/logo_custom.jpg"></a>
				    </div>

				    <!-- Collect the nav links, forms, and other content for toggling -->
				  </div><!-- /.container-fluid -->
				</nav>
				<div class="row alert-row">
					<div class="alert alert-info" role="alert">
  						<a href="#" class="alert-link">PLEASE UPLOAD YOUR DRIVING LICENCE PHOTO FOR VERIFICATION PURPOSES !</a>
					</div>
				</div>
	    		{% load jfutags %}
				{% jfu 'imageUploadExten.html' 'uploadVerify' %}
		
				<div class="row">
					<form>
					  <div class="form-group col-md-12">
					    <label for="licenceNum">Licence Number</label>
					    <input type="text" class="form-control" id="licenceNum" placeholder="Licence Number">
					  </div>
					  <div class="form-group col-md-6">
					    <label for="name">Name</label>
					    <input type="text" class="form-control" id="name" placeholder="Name">
					  </div>
					  <div class="form-group col-md-6">
					    <label for="fathersName">Father's Name</label>
					    <input type="text" class="form-control" placeholder="Father's Name" id="fathersName">
					  </div>
					   <div class='form-group input-group date col-md-12' id='dob'>
                    		<input type='text' class="form-control col-md-6" id='dobInput' />
                    		<span class="input-group-addon">
                        		<span class="glyphicon glyphicon-calendar"></span>
                    		</span>
                		</div>
					  <div class="form-group col-md-12">
					    <label for="address">Address</label>
					    <input type="text" class="form-control" placeholder="Address" id="address">
					  </div>
					</form>
				</div>
				<div class="row">
			     	<button class="col-md-12 btn btn-primary" id='submitReq' type="submit" name="action">Submit
			 		</button>
		  		</div>
		  	</div>
  		</div>
	</body>
</html>