<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Bon Voyage</title>
	 	<link rel="shortcut icon" type="image/x-icon" href="{{STATIC_URL}}images/favicon.ico" />
	 	<link rel="shortcut icon" type="image/x-icon" href="{{STATIC_URL}}images/favicon.ico" />
	 	<link rel="stylesheet" href="..{{STATIC_URL}}css/bootstrap-social.css">
		<link rel="stylesheet" href="..{{STATIC_URL}}css/viewAllUnverified.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
		<link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<script src="..{{STATIC_URL}}js/jquery-1.11.1.min.js"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
		<script src="..{{STATIC_URL}}js/viewAllUnverified.js"></script>

	</head>
	<body>
		<nav class='row brown darken-4 container-nav' style="height: 70px">
			<div class="nav-wrapper col s3" style="padding-left:0px">
				<image src='{{STATIC_URL}}images/logo_custom.jpg'>
				<a href="#" class="brand-logo">View All Unverified Agents</a>
			</div>
			<div class="right col s5 offset-s4">
				<ul>
					<li>
						<a class="waves-effect waves-light" style="font-size: 16px;font-weight: 500">Hi {{firstName}} {{lastName}} 
						</a>
					</li>
					<li>
						<a href="/dashboardAgent" style="font-size: 16px;font-weight: 500" class="with-top-nav waves-effect waves-light">
							Dashboard
						</a>
					</li>
				</ul>
			</div>    
		</nav>
		<div class="container">
			<div>
				<table>
					<thead>
						<tr class="labels">
							<th data-field="name">Name</th>
							<th data-field="licenceNum">Licence Number</th>
							<th data-field="fathersName">Father's Name</th>
							<th data-field="address">Address</th>
							<th data-field="dob">Date of Birth</th>
						</tr>
					</thead>

					<tbody>
						{% for r in ver %}
							<tr id='{{r.id}}' class="row requirementRow">
								<td>{{r.name}}</td>
								<td>{{r.licenceNum}}</td>
								<td>{{r.fathersName}}</td>
								<td>{{r.address}}</td>
								<td>{{r.dob}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>